TS_STATE_DIR=/var/lib/tailscale
TS_EXTRA_ARGS=--login-server=https://headscale.example.com --accept-dns=false --advertise-routes=192.168.1.0/24,172.18.0.0/24,172.19.0.0/24 --advertise-exit-node
TS_NO_LOGS_NO_SUPPORT=true
TS_AUTHKEY=CHANGE_ME_HEADSCALE_AUTHKEY
TS_ENABLE_HEALTH_CHECK=true
