BOTHLINK=true
MFP_URL=https://CHANGE_ME_EASYPROXY_HOST/
MFP_PSW=CHANGE_ME_EASYPROXY_PASSWORD
TMDB_API_KEY=CHANGE_ME_TMDB_API_KEY
ADDON_BASE_URL=https://streamv.example.com
ANIMEUNITY_ENABLED=true
ANIMESATURN_ENABLED=true
PROXY=socks5h://gluetun:1081
PROXY_BACKUP=http://gost:8082
