STREMTHRU_BASE_URL=http://127.0.0.1
STREMTHRU_PORT=9090
STREMTHRU_LOG_LEVEL=INFO
STREMTHRU_LOG_FORMAT=json

STREMTHRU_AUTH=CHANGE_ME_STREMTHRU_USER:CHANGE_ME_STREMTHRU_PASSWORD
STREMTHRU_AUTH_ADMIN=CHANGE_ME_STREMTHRU_USER
STREMTHRU_VAULT_SECRET=CHANGE_ME_64_HEX_VAULT_SECRET

STREMTHRU_INTEGRATION_GITHUB_USER=CHANGE_ME_GITHUB_USERNAME
STREMTHRU_INTEGRATION_GITHUB_TOKEN=CHANGE_ME_GITHUB_TOKEN

STREMTHRU_DATABASE_URI=postgresql://postgres:CHANGE_ME_POSTGRES_PASSWORD@pgbouncer:6432/stremthru
STREMTHRU_REDIS_URI=redis://redis:6379
