BASE_URL=https://aiostreams.example.com
SECRET_KEY=CHANGE_ME_64_HEX_SECRET
DATABASE_URI=sqlite://./data/db.sqlite
PORT=4444
INTERNAL_URL=http://aiostreams:4444
NODE_ENV=production
SYSTEM_LIFECYCLE_ENABLED=false

AIOSTREAMS_AUTH=CHANGE_ME_AIO_USER:CHANGE_ME_AIO_PASSWORD
AIOSTREAMS_AUTH_PERMISSIONS=CHANGE_ME_AIO_USER=admin
AIOSTREAMS_AUTH_REQUIRED=true
CONFIG_ACCESS_KEY=CHANGE_ME_AIO_CONFIG_ACCESS_KEY

LOG_FORMAT=json
LOG_TIMEZONE=Europe/Rome
ADDON_NAME="AIOStreams"
ADDON_ID="aiostreams.viren070.com"

BUILTIN_STREMTHRU_URL=http://gluetun:9090
BUILTIN_JACKETT_URL=http://gluetun:9117
BUILTIN_JACKETT_API_KEY=CHANGE_ME_JACKETT_API_KEY
BUILTIN_ZILEAN_URL="https://zileanfortheweebs.midnightignite.me"
BUILTIN_NEKOBT_URL="https://nekobt.to/api/torznab"
BUILTIN_SEADEX_URL="https://releases.moe"

TMDB_ACCESS_TOKEN=CHANGE_ME_TMDB_ACCESS_TOKEN
TMDB_API_KEY=CHANGE_ME_TMDB_API_KEY
TVDB_API_KEY=CHANGE_ME_TVDB_API_KEY
FETCH_TRAKT_ALIASES=true

TRUSTED_UUIDS=CHANGE_ME_AIO_TRUSTED_UUID
REGEX_FILTER_ACCESS=all
SEL_SYNC_ACCESS=all
WHITELISTED_SYNC_REFRESH_INTERVAL=3600
DISABLE_SELF_SCRAPING=true

ADDON_PROXY=["socks5h://gluetun:1081","http://gluetun:8889","socks5h://warp:1080","http://gost:8082"]
ADDON_PROXY_CONFIG=*:0,*.strem.fun:false,streamvix:false,tvvoo:false,stremthru:false,mediaflow-proxy-light:false,aiomanager:false
FORCE_PROXY_DISABLE_PROXIED_ADDONS=false

TEMPLATE_URLS='["https://raw.githubusercontent.com/Tam-Taro/SEL-Filtering-and-Sorting/refs/heads/main/Tamtaro-All-Templates-for-AIOStreams.json"]'
TEMPLATE_REFRESH_INTERVAL=3600
PRUNE_INTERVAL=86400
PRUNE_MAX_DAYS=-1

REQUEST_URL_MAPPINGS={"https://streamv.example.com":"http://streamvix:7860","https://CHANGE_ME_TVVOO_HOST":"http://tvvoo:5000","https://mfp.example.com":"http://mediaflow-proxy-light:8888","https://CHANGE_ME_AIOMANAGER_HOST":"http://aiomanager:1610"}

COMET_URL=http://gluetun:2020
COMET_PUBLIC_API_TOKEN=CHANGE_ME_COMET_PUBLIC_API_TOKEN
STREMTHRU_STORE_URL=http://gluetun:9090/stremio/store/
STREMTHRU_TORZ_URL=http://gluetun:9090/stremio/torz/
FORCED_SERVICE_CREDENTIALS='torbox.apiKey=CHANGE_ME_TORBOX_API_KEY'
FORCE_PROXY_PROXIED_SERVICES='["torbox"]'

AIOSTREAMS_OIDC_ENABLED=true
DEFAULT_TIMEOUT=7000
MAX_VARIANT_TOTAL_SCRIPT_CHARACTERS=50000
MAX_VARIANTS=30
MAX_ADDONS=20
