COMETNET_API_KEY=CHANGE_ME_COMET_PUBLIC_API_TOKEN
COMETNET_BOOTSTRAP_NODES='["wss://cometnet-beta.feels.legal","wss://cometnet.micasa161.me","wss://comet2.sophnsharm.stream/cometnet/ws","wss://cometnetuk.sophnsharm.stream/cometnet/ws","wss://cometnet.stremio.ru","wss://cometnet.elfhosted.com","wss://cometnet.streamproxy.xyz"]'
COMETNET_ADVERTISE_URL=wss://cometnet.example.com/cometnet/ws
COMETNET_NODE_ALIAS=my-node
COMETNET_CONTRIBUTION_MODE=leech
COMETNET_LISTEN_PORT=8765
COMETNET_HTTP_PORT=8766
DATABASE_TYPE=postgresql
DATABASE_URL=postgres:CHANGE_ME_POSTGRES_PASSWORD@pgbouncer:6432/comet
TORRENT_CACHE_TTL=-1
