VPN_TYPE=wireguard
VPN_SERVICE_PROVIDER=mullvad
WIREGUARD_PRIVATE_KEY=CHANGE_ME_WIREGUARD_PRIVATE_KEY
WIREGUARD_ADDRESSES=CHANGE_ME_WIREGUARD_ADDRESS_CIDR
SERVER_CITIES=Zurich
OWNED_ONLY=on
DNS_UPSTREAM_RESOLVERS=cloudflare,quad9,google
HTTPPROXY=on
HTTPPROXY_LISTENING_ADDRESS=:8889
HTTPPROXY_STEALTH=on
SOCKS5_ENABLED=on
SOCKS5_LISTENING_ADDRESS=:1081
HTTPPROXY_LOG=on
FIREWALL_OUTBOUND_SUBNETS=172.18.0.0/24,172.19.0.0/24,CHANGE_ME_LAN_SUBNET
#FIREWALL_INPUT_PORTS=
HEALTH_ICMP_TARGET_IPS=1.1.1.1,8.8.8.8,9.9.9.9
HEALTH_TARGET_ADDRESSES=cloudflare.com:443,github.com:443,google.com:443,quad9.net:443
LOG_LEVEL=debug
TZ=Europe/Rome
